# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
error.txt

# Virtual Environment
venv/
venv312/
py312_env/
healthcare_env/
healthcare_env_py312/
env/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# PyCharm
.idea/

# Output files
output/models/*.pkl

# Local configuration
.env 